<%- include("../includes/head", {title: "Manage Workout Logs"}) %>
<link rel="stylesheet" href="/styles/manage-plans.css">
<script src="/scripts/manage-logs-app.js" defer></script>
</head>
<body>
  <%- include("../includes/header") %>
  <main id="manage-logs">
    <h2 class="page-heading">Manage Workout Logs</h2>
    <a href="/admin/logs/workouts" class="btn-main">Workouts Collection</a>
    <!--Pass the logs JSON file to vue in a hidden input-->
    <input type="hidden" id="logs" value="<%= logs %>" />
    <p v-if="logs.length === 0">You haven't added any workout logs yet.</p>
    <section id="plans-grid">
      <!--Loop Over Logs-->
      <div class="plan-container" v-for="(log, index) in logs">
        <h3>{{ log.name }}</h3>
        <ul>
          <li v-for="exercise in log.exercises">
            {{exercise.name}}: {{exercise.sets}} sets of {{exercise.reps}}
          </li>
        </ul>
        <div class="form-control-btns">
          <button @click="getUpdateForm(log.id)" class="btn-main btn-alt">Edit</button>
          <form @submit="deleteLog($event, index)">
            <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>" />
            <input type="hidden"  name="log-id" v-bind:value="log.id">
            <button class="btn-main remove-btn">Delete</button>
          </form>
        </div>
      </div>
      
      <!--End Loop-->

      <div id="add-plan" class="plan-container">
        <form @submit="addLog">
          <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>">
          <input type="text" name="log-name" placeholder="Log Name..." required>
          <div class="form-control-btns">
            <button class="btn-main">Add Workout Log</button>
          </div>
        </form>
      </div>
      

    </section>
  </main>
  <%- include("../includes/footer") %>
</body>
</html>
