<%- include("../includes/head", {title: "Workouts Collection"}) %>
<link rel="stylesheet" href="/styles/manage-plans.css" />
<script src="/scripts/workouts-collection-app.js" defer></script>
</head>
<body>
  <%- include("../includes/header") %>
  <main id="workouts-collection">
    <h2 class="page-heading">Workouts Collection</h2>
    <p v-if="workouts.length === 0">You haven't added any workouts yet.</p>
    <!--Pass the workouts JSON file to vue in a hidden input-->
    <input type="hidden" id="workouts" value="<%= workouts %>" />
    <section id="plans-grid">
      <!--Loop Over Logs-->
      <div class="plan-container" v-for="workout in workouts">
        <h3>{{ workout.name }}</h3>
        <form @submit="updateWorkout" class="edit-workout-name invisible">
          <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>" />
          <input type="hidden"  name="workout-id" v-bind:value="workout.id">
          <input type="text" name="workout-name" placeholder="Name..." required />
          <div class="form-control-btns">
            <button class="btn-main">Save</button>
            <button
              type="button"
              @click="hideEditForm"
              class="btn-main btn-alt"
            >
              Cancel
            </button>
          </div>
        </form>
        <div class="form-control-btns">
          <button @click="showEditForm" class="btn-main btn-alt">Edit</button>
          <form @submit="deleteWorkout">
            <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>" />
            <input type="hidden"  name="workout-id" v-bind:value="workout.id">
            <button class="btn-main remove-btn">Delete</button>
          </form>
        </div>
      </div>
      <!--End Loop-->

      <div id="add-plan" class="plan-container">
        <form @submit="addWorkout">
          <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>" />
          <input
            type="text"
            name="workout-name"
            id="log-title"
            placeholder="Workout Name..."
            required
          />
          <div class="form-control-btns">
            <button class="btn-main">Add Workout</button>
          </div>
        </form>
      </div>
    </section>
  </main>
  <%- include("../includes/footer") %>
</body>
</html>
