<%- include("../includes/head", {title: "My Program"}) %>
<link rel="stylesheet" href="/styles/user-card.css">
<link rel="stylesheet" href="/styles/program.css" />
<script src="/scripts/program-app.js" defer></script>
</head>
<body>
  <%- include("../includes/header") %>
  <main id="program">

    <!--pass the user to vue-->
    <input type="hidden" id="user" value="<%= user %>">

    <section id="user-info">
      <div id="user-card">
        <h2>{{user.name}}</h2>
        <img v-bind:src="user.imageURL" alt="Profile Picture">
        <a href="/<%= locals.uid %>/updateInfo" class="btn-main btn-alt">Edit</a>
      </div>
    </section>
    <section id="plans">
      <div class="plan-container">
        <h2 class="page-heading">Weekly Routine</h2>
        <%- include("includes/accordion") %>
      </div>
      <div class="plan-container">
        <h2 class="page-heading">Diet</h2>
        <div id="diet-details"  v-if="user.nutrition">
          <h3>{{user.nutrition.name}}</h3>
          <ul>
            <li v-for="meal in user.nutrition.meals">
              {{meal}}
            </li>
          </ul>
        </div>
        <p v-else>
          Your diet plan is not set. Contact a coach via e-mail to get you
          started.
        </p>
      </div>
    </section>
  </main>
  <%- include("../includes/footer") %>
</body>
</html>
